MONAD_TESTNET_RPC_URL=https://testnet-rpc.monad.xyz/
PRIVATE_KEY=0x_your_private_key_here
ONESTROKE_REGISTRY_PROXY=0x7428A04f55081baaE4191eA909277CFcEA31cb28
MOCK_USDC_ADDRESS=0x789927bDE67645449cc0aCA3BC78A67Cf605c610
GOLDSKY_GRAPHQL_URL=https://api.goldsky.com/api/public/project_cmo33r4sw2xy101rs7ch14e94/subgraphs/linetrade/1.0.0/gn
POLL_INTERVAL_MS=30000
